@charset "utf-8";
<style > .please {}


.main-navigation {
    position: relative;
    float: right;
    max-width: 80%;
    margin-top: 30px;
    right: 10px;
}

#logo-top .main-navigation {
    float: none;
    width: auto;
    text-align: center;
    max-width: none;
}

.main-navigation ul {
    position: relative;
    right: 10px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: inline-block;
}

.main-navigation ul li {
    position: relative;
}

.main-navigation > ul > li {
    float: left;
    overflow: hidden;
    font-family: 'Nanum+Gothic', sans-serif;
    font-weight: 700;
}

.main-navigation > ul > li > a {
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 15px;
}

.main-navigation > ul > li.current a {
    color: rgba(0, 174, 231, 0.5);
}

.main-navigation a {
    display: block;
    text-decoration: none;
    color: #333;
}

.main-navigation ul ul {
    background: #FFF;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99999;
    padding: 0 10px;
    font-size: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: none;
}

.main-navigation ul ul ul {
    left: 100%;
    top: 0;
}

.main-navigation ul ul a {
    min-width: 200px;
}

.main-navigation ul ul li {
    border-bottom: 1px solid #EEE;
    padding: 8px 0;
}

.logo-top .main-navigation ul ul li {
    text-align: left;
}

.main-navigation ul ul li:last-child {
    border: none;
}

.main-navigation li:hover > a {
    color: rgba(0, 174, 231, 0.5);
}

.main-navigation ul li:hover > ul {
    display: block;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {
    color: rgba(0, 174, 231, 0.5);
}

/* -- 모바일 반응형 Totalstyle이랑 무조건 연동!-- */

@media (max-width: 800px) {
    .main-navigation {
        display: none;
    }
    .main-navigation ul {
        display: none;
    }
}

</style >
